.ShowRoom {
	height: 100vh;
	width: 100vw;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	&__title {
		position: fixed;
		width: 100%;
		text-align: center;
		top: 5rem;
		z-index: 5;
		color: white;
	}
	& Canvas {
		background: black;
	}
	&__list {
		position: fixed;
		top: 10rem;
		left: 2rem;
		z-index: 5;
		display: flex;
		flex-direction: column;
	}
	&__details {
		position: fixed;
		top: 10rem;
		right: 2rem;
		z-index: 5;
		display: flex;
		flex-direction: column;
		color: white;
		margin-right: 5rem;
		&__title {
			margin: 1rem 0;
		}
		&__options {
			margin: .5rem 0;
		}
	}
}

@keyframes helper {
	0% { margin-right: 0; }
	50% { margin-right: .5em; }
	100% { margin-right: 0; }
}